- content_for :body_class
- content_for :custom_stylesheets do
  = stylesheet_link_tag('https://cdn.jsdelivr.net/npm/intl-tel-input@24.6.0/build/css/intlTelInput.css', crossorigin: 'anonymous', referrerpolicy: 'no-referrer')

= render 'form'
