.bundle
.env*
.git*

db/*.sqlite3
db/*.sqlite3-*
docker-compose.yml
log/*
node_modules
public/cache/*
public/cached_pages/*
public/uploads/*
tmp/*

Dockerfile
docker-compose.yml

storage
config/master.key
config/credentials/*.key

!/log/.keep
!/public/cache/.keep
!/public/cached_pages/.keep
!/public/uploads/.keep
!/tmp/.keep
