.bundle
.env.*
.git
.github

db/*.sqlite3
db/*.sqlite3-*
log/*
node_modules
public/cache/*
public/cached_pages/*
public/uploads/*
scripts
spec
tmp/*

Dockerfile
docker-compose.yml

storage
config/master.key
config/credentials/*.key

!/log/.keep
!/public/cache/.keep
!/public/cached_pages/.keep
!/public/uploads/.keep
!/tmp/.keep
