- content_for :body_class, 'projects'

.container.projects
  .row
    - @projects.each do |project|
      .col-md-4.col-sm-6
        .thumbnail
          = image_tag project.thumbnail_url(:thumb)
          .caption
            h3
              = project.title
              - if project.subtitle?
                small
                  '
                  '|
                  '
                  = project.subtitle
            p = project.description
            p = link_to 'See more', project_path(project, locale: locale)
