<% content_for :body_class, 'cieszyn' %>
<div class='container'>
  <%= render 'cieszyn/bar' %>
  <h2>Cennik</h2>
  <h3>Ceny usług</h3>
  <table class='prices'>
    <tr>
      <th>Usługa</th>
      <th>Cena w złotych</th>
      <th></th>
    </tr>
    <% @jobs.each do |job| %>
      <tr>
        <td><%=job.name%></td>
        <td><%=job.price%>,-</td>
        <td><input type="checkbox" name="job.name" value=<%= job.price %>></td>
      </tr>
    <% end %>
  </table>
  <h4>Suma: <span class='sum'></span>zł</h4>
</div>
