<% content_for :body_class, 'cieszyn' %>
<div class='banner'></div>
<div class='container'>
<%= render 'cieszyn/bar' %>

<div class='row'>
  <div class='col-sm-12'>
    <h2 class='text-center'>Serwis laptopów</h2>
  </div>
</div>

<div class='row'>
  <div class='col-sm-6'>

    <h3>Czym się zajmujemy?</h3>

    <ul>
      <li>Diagnostyka oraz <strong>naprawa komputerów i laptopów</strong></li>
      <li>Składanie lub rozbudowa komputera, wymiana części</li>
      <li>Wymiana i naprawa układów BGA</li>
      <li>Profesjonalne odzyskiwanie danych</li>
      <li>Pomoc techniczna</li>
    </ul>

  </div>


  <div class='col-sm-6'>

    <h3>Jak do nas trafić?</h3>
    <address>
    ul. Trzech Braci 3<br>
    43-400 Cieszyn
    </address>

    <p>Naprawiamy to czego inni nie potrafią.</p>

  </div>
</div>

<div id='map'></div>

</div>
