- content_for :body_class, 'cieszyn'
.banner
.container
  = render 'cieszyn/bar'

  .row.mt-4
    .col-sm-12
      h2.text-center Serwis laptopów

  .row.mt-4
    .col-sm-6
      h3 Czym się zajmujemy?

      ul
        li Diagnostyka oraz <strong>naprawa komputerów i laptopów</strong>
        li Składanie lub rozbudowa komputera, wymiana części
        li Wymiana i naprawa układów BGA
        li Profesjonalne odzyskiwanie danych
        li Pomoc techniczna

    .col-sm-6
      h3 Jak do nas trafić?
      - office_address_cieszyn = OfficeAddress.find_by(slug: 'cieszyn')
      address
        = office_address_cieszyn.street_with_number
        br
        = office_address_cieszyn.postcode
        '
        = office_address_cieszyn.city

      p Naprawiamy to czego inni nie potrafią.

  #map
