.section.address
  h4 = t('.contact_with_us')
  address
    strong = t('.office.gliwice')
    br
    | Akademicka 5
    br
    | 44-100 Gliwice
  address
    strong = t('.office.cieszyn')
    br
    | Trzech Braci 3
    br
    | 43-400 Cieszyn

.section
  h4 = t('.find_us')
  ul.list-inline
    li
      = link_to 'https://github.com/fractalsoft', rel: 'nofollow noopener noreferrer', target: '_blank', title: 'Star us' do
        span.icon.icons-github
    li
      = link_to 'https://twitter.com/fractal_soft', rel: 'nofollow noopener noreferrer', target: '_blank', title: 'Follow us' do
        span.icon.icons-twitter
    li
      = link_to 'https://www.linkedin.com/company/fractalsoft', rel: 'nofollow noopener noreferrer', target: '_blank', title: 'Follow us' do
        span.icon.icons-linkedin
    li
      = link_to 'https://www.youtube.com/c/fractalsoft', rel: 'nofollow noopener noreferrer', target: '_blank', title: 'Subscribe' do
        span.icon.icons-youtube
    li
      = link_to 'https://www.google.com/+fractalsoft', rel: 'nofollow noopener noreferrer', target: '_blank', title: 'Follow us' do
        span.icon.icons-google
    li
      = link_to 'https://www.facebook.com/fractalsoft', rel: 'nofollow noopener noreferrer', target: '_blank', title: 'Like us' do
        span.icon.icons-facebook
    li
      = link_to 'https://instagram.com/fractalsoft', rel: 'nofollow noopener noreferrer', target: '_blank', title: 'Follow us' do
        span.icon.icons-instagram
