<% content_for :body_class, 'contact-forms' %>

<div class='container contact'>
  <h2>Want to get in touch with us?</h2>
  <p class='hidden-xs'><%= t('.contact.description') %></p>
  <div class='row'>
    <div class='col-sm-8 col-sm-push-4 col-xs-12'>
      <iframe width='425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://www.openstreetmap.org/export/embed.html?bbox=18.674306273460385%2C50.288465261963424%2C18.681387305259705%2C50.291642400609064&amp;layer=mapnik&amp;marker=50.29005214413564%2C18.677846789360046' style='border: 1px solid #e1e1e1' class='hidden-xs'></iframe>
      <div class='hidden-xs'>
        <div class='btn btn-default active'>Gliwice</div>
        <div class='btn btn-default'>Cieszyn</div>
      </div>
      <%= render 'form', contact_form: @contact_form %>
    </div>
    <div class='col-sm-4 col-sm-pull-8 col-xs-12'>
      <%= render 'contact' %>
    </div>
  </div>
</div>
