@mixin cover-image($path, $params: no-repeat center center fixed) {
  background-size: cover;
  background: url($path) $params;
}

@mixin vertical-margin($size) {
  margin-bottom: $size;
  margin-top: $size;
}

@mixin vertical-padding($size) {
  padding-bottom: $size;
  padding-top: $size;
}

@mixin navbar($background-color, $text-color, $hover-color) {
  background-color: $background-color;
  font-family: $asap-fonts;
  font-weight: 700;
  text-transform: uppercase;

  .navbar-nav {
    margin-top: 15px;
  }

  .navbar-nav > li > a {
    color: $text-color;

    &:hover { color: $hover-color; }
  }

  .navbar-brand {
    padding-top: 25px;
  }

  .navbar-header button {
    margin-top: 20px;
  }

  .navbar-collapse.collapse,
  .navbar-collapse.collapsing {
    background-color: $background-color;
    border: none;
  }
}
