$light-baground-color: #fbfbfb;
$red-bacground-color: #ff2a25;
$white-background-color: #fff;

$header-background-color: $white-background-color;

$black-text-color: #2e3641;
$grey-text-color: #616060;
$red-text-color: #ff2a25;

$header-text-color: $black-text-color;
$hover-header-text-color: $red-text-color;
