$dark-background-color: #2e2e2e;
$grey-background-color: #f5f5f5;
$light-background-color: #fbfbfb;
$red-background-color: #c3261c;
$white-background-color: #fff;

$header-background-color: $white-background-color;

$black-text-color: #2e3641;
$grey-text-color: #616060;
$light-grey-text-color: #999;
$red-text-color: #ff2a25;
$white-text-color: #fff;

$header-text-color: $black-text-color;
$hover-header-text-color: $red-text-color;

$asap-fonts: 'Asap', Helvetica, sans-serif;
$opensans-fonts: 'OpenSans', Helvetica, sans-serif;
