@import 'variables';
@import 'mixins';

body.business-contact-forms {
  .container.contact {
    background-color: $light-background-color;
    margin-top: -250px;
    min-height: 500px;
  }

  .footer {
    margin-top: 0;
  }
}

.background {
  background-color: $red-background-color;
  height: 350px;
  margin-top: -20px;
}
