@import 'variables';

.btn {
  font-family: $asap-fonts;
  padding: 15px 50px;

  &.btn-default {
    background-color: $white-background-color;
    border-width: 3px;
    color: $light-grey-text-color;
    font-weight: 700;

    &.active,
    &:active {
      background-color: $grey-background-color;
      box-shadow: none;
    }
  }

  &.btn-info {
    background-color: $dark-background-color;
    border-width: 0;
    color: $white-text-color;

    &.active,
    &:active {
      background-color: $dark-background-color;
      box-shadow: none;
    }
  }

  &.btn-primary {
    background-color: $red-background-color;
    border-width: 0;
    color: $white-text-color;

    &.active,
    &:active {
      background-color: $red-background-color;
      box-shadow: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $asap-fonts;

  &.normal {
    font-family: $opensans-fonts;
  }
}

li,
p {
  font-family: $opensans-fonts;
}

.text-justify {
  text-align: justify;
}
