@use 'variables' as *;
@use 'mixins' as *;

body.community {

  .logotype {
    &:hover {
      filter: brightness(120%);
    }
  }

  .community-list {
    background-color: $light-background-color;
    color: $grey-text-color;
  }

  .community-item {
    background-color: $light-background-color;
    color: $grey-text-color;
    text-align: left;
  }
}
