@import 'variables';

body.contact-forms {
  .container.contact {
    background-color: $light-background-color;
    min-height: 1200px;
  }

  .footer {
    margin-top: 0;
  }
}

body.contact-forms,
body.home {
  .contact {
    h2,
    h4 {
      font-weight: 700;
      text-transform: uppercase;
    }

    h2,
    p {
      text-align: center;
    }

    h4 { font-size: 12pt; }
    p { margin-bottom: 70px; }

    .map-display-none {
      left: 15px;
      position: absolute;
      visibility: hidden;
    }

    .btn.btn-default {
      border-width: 1px;
      width: 212px;
    }

    .row { margin: 0; }

    .section {
      margin-bottom: 65px;

      &.address h4 { margin-bottom: 40px; }
    }

    #contact_form {
      margin-top: 60px;

      .form-group .col-sm-5 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
