@use 'variables' as *;
@use 'mixins' as *;

body.domain {

  .logotype {
    &:hover {
      filter: brightness(120%);
    }
  }

  .domain-item {
    background-color: $light-background-color;
    color: $grey-text-color;

    text-align: left;
  }
}
