@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Asap-Regular.ttf');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Asap-Bold.ttf');
}

@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/Asap-Italic.ttf');
}

@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Asap-BoldItalic.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/OpenSans-BoldItalic.ttf');
}
