@import 'variables';
@import 'mixins';

.footer {
  @include navbar($dark-background-color, $white-text-color, $hover-header-text-color);

  margin-bottom: 0;
  margin-top: 110px;

  .container {
    margin-bottom: 20px;
  }

  .text-white {
    color: $white-text-color;
  }
}
