@import 'variables';

.header {
  background-color: $header-background-color;
  text-transform: uppercase;
  font-weight: 700;
  height: 85px;

  .navbar-nav>li>a {
    color: $header-text-color;
  }

 .navbar-nav>li>a:hover {
    color: $hover-header-text-color;
  }

  .collapse {
    padding-top: 15px;
  }

  .navbar-brand {
    padding-top: 25px;
  }
}
