@use 'variables' as *;
@use 'mixins' as *;

body.home {
  background-color: $white-background-color;
  color: $grey-text-color;

  .home-team-trim .team {
    padding-top: 0;
    padding-bottom: 0;
  }

  .home-hero-minheight {
    min-height: 460px;
  }

  @media (min-width: 768px) {
    .home-hero-minheight {
      min-height: 520px;
    }
  }

  .home-hero-image-card {
    &.card.image-full > figure img {
      filter: none;
    }
  }
}
