@use 'variables' as *;
@use 'mixins' as *;

body.home {
  background-color: $white-background-color;
  color: $grey-text-color;

  .home-team-trim .team {
    padding-top: 0;
    padding-bottom: 0;
  }

  .home-hero-minheight {
    min-height: 460px;
  }

  @media (min-width: 768px) {
    .home-hero-minheight {
      min-height: 520px;
    }
  }

  .home-hero-image-card {
    &.card.image-full > figure img {
      filter: none;
    }
  }

  section.home-pillars .home-pillar-icon {
    display: flex;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: #ffe4e6;
    color: #e11d48;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
