@import 'compass';
@import 'icons/*.png';
@include all-icons-sprites;

button {
  background: transparent;
  border: none !important;
  display: block;
  font-size: 0;
  height: 32px;
  width: 32px;
}
