@import 'compass';
$logotypes-sort-by: 'name';
$logotypes-layout: vertical;
$logotypes-sprite-dimensions: true;
@import 'icons/*.png';
@include all-icons-sprites;

span.icon {
  display: block;
  height: 32px;
  width: 32px;
}
