@import 'mixins';
@import 'variables';

body.job-offer {
  .job-offer-item,
  .job-offer-list {
    @include vertical-padding(20px);
    background-color: $light-background-color;
    color: $grey-text-color;
    margin-top: -250px;
    text-align: center;

    h1 {
      font-family: 'Asap', Helvetica, sans-serif;
      font-weight: 700;
      margin-bottom: 100px;
      margin-top: 100px;
      text-transform: uppercase;
    }
  }
}
