@import 'variables';
@import 'mixins';

body.people {
  .team {
    background-color: $light-background-color;
  }
}

body.person {
  .business-card {
    background-color: $light-background-color;
  }
}

.background {
  background-color: $red-background-color;
  height: 350px;
  margin-top: -20px;
}
