@use 'variables' as *;
@use 'mixins' as *;

body.projects {
  .projects {
    background-color: $light-background-color;
  }
}

body.project {
  .header-img {
    height: 700px;
    margin-top: -20px;
    @include cover-image('', no-repeat center top);
  }
}
